
<div class="table-overflow">
  <h3 class="text-center">Department Reimbursement Records</h3><br>
  <table class="table table-responsive table-striped">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Category</th>
      <th>Location</th>
      <th>Price</th>
      <th>Arroved</th>
    </tr>
    <tr ng-repeat="record in deptRecords | orderBy: '-date'">
      <td>{{record.date | date}}</td>
      <td>{{record.name | uppercase}}</td>
      <td>{{record.category | uppercase}}</td>
      <td>{{record.address | uppercase}}</td>
      <td>{{record.price | currency}}</td>
      <td ng-switch="record.isDone">
        <div ng-switch-when=true>
          Yes
        </div>
        <div ng-switch-when=false>
          No
          <button type="button" name="approve" class="approveBtn" ng-click="approve(record)">Approve</button>
          <button type="button" name="delete" class="deleteBtn" ng-click="delete(record)">Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>
